.cross{
    
    background-color: #ffffff50;
    border: none;
    

}
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);


/* *{
    border: #09C solid 1px;
} */


.container {
	max-width:400px;
	width:100%;
	margin:0 auto;
	position:relative;
    outline: #888888 solid 1px;
    margin: -50px auto 0 auto;
    border-radius: 20px;
    
   
}

#contact__1 input[type="text"], #contact__1 input[type="email"], #contact__1 input[type="tel"], #contact__1 input[type="url"], #contact__1 textarea, #contact__1 button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

#contact__1 {
	background:#F9F9F9;
	padding:25px;
	margin:50px 0;
    border-radius: 20px;
}

#contact__1 h3 {
	color: orange;
	display: flex;
    justify-content: center;
    align-items: center;
	font-size: 30px;
	font-weight: 400;
    
}

#contact__1 h4 {
	margin:5px 0 15px;
	display:flex;
    justify-content: center;
    align-items: center;
	font-size:17px;
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
    border-radius:10px;
}

#contact__1 input[type="text"], #contact__1 input[type="email"], #contact__1 input[type="tel"], #contact__1 input[type="url"], #contact__1 textarea {
	width:100%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
    border-radius: 10px;
}

#contact__1 input[type="text"]:hover, #contact__1 input[type="email"]:hover, #contact__1 input[type="tel"]:hover, #contact__1 input[type="url"]:hover, #contact__1 textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}

#contact__1 textarea {
	height:100px;
	max-width:100%;
  resize:none;
}

#contact__1 button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;
	background:#0CF;
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
    border-radius: 20px;
}

#contact__1 button[type="submit"]:hover {
	background:#09C;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

#contact__1 button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact__1 input:focus, #contact__1 textarea:focus {
	outline:0;
	border:1px solid #999;
}
::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}


.lable-file{
	border: solid 1px #27a9e0;
	border-radius: 3px;
	color: #27a9e0;
	font-size: 16px;
	margin-bottom: 20px;
	outline: none !important;
	padding: 10px 20px;
	content: 'Add Your Photo';
	
}
.lable-file:hover {
	background-color: #89d8d3;
	color: #fff;
  }
  

.choose-file{
	display: none;
}
.file{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.profile{
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}
.open{
	padding: 12px 0px; width: 200px;background: initial;
		border: none;border: solid 3px #fff;
		border-radius: 8px; color: #fff;
		font: bold .8em sans-serif; text-transform: uppercase;}
		
		.open:hover {color: teal; border-color:rgba(0, 0, 0, 0.57);}
		.open:active {background:teal;border-color: #fff;color: purple;}
		  