@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:ital,wght@0,300;1,300&display=swap');
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  /* border: red 2px solid; */
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
}
body{
  background: var(--color-bg);
 
  overflow-x: hidden;
}
text{
  
}
a{
  color: unset;
  text-decoration: none;
}