.page{
    display: flex;
    flex-direction:row;
   

}
.Flex-container{
    padding: 2.5rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.join{
    width:15vw;
    padding: 2rem;
}
.cards{
    width:80vw;
}